* {
    font-family: poppins;
    padding: 0;
    margin: 0;
}

a, p {
    text-decoration: none;
    font-size: 15px;
    color: azure;
}

nav {
    width: 100%;
    height: 60px; /* Adjusted height */
    line-height: 60px; /* Adjusted line height */
    padding: 10px 100px; /* Adjusted padding */
    position: fixed;
    top: 0; /* Aligning it to the top of the viewport */
    background: black;
}

nav .logo p {
    font-size: 21px;
    font-weight: bold;
    float: left;
    color: azure;
    letter-spacing: 1.3px;
    cursor: pointer;
}

nav ul {
    text-align: right;
    padding-right: 200px;
}

nav li {
    display: inline;
    padding: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjusted justify-content */
    align-items: flex-start;
    margin: 20px auto; /* Center the container horizontally */
    padding-top: 100px;
    max-width: 1200px; /* Set a maximum width for the container */
    height: 540px; /* Adjusted height for 14 cards (7 top, 7 bottom) */
}

@media (max-width: 768px) {
    .card-container {
        height: auto; /* Adjust height for smaller screens */
    }
}

.card {
    width: calc(100% / 7 - 20px); /* Adjusted width for 7 cards per row */
    height: 150px; /* Adjusted height */
    margin: 5px; /* Adjusted margin */
    background-size: cover;
    background-position: center;
    border-radius: 8px; /* Adjusted border radius */
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 14px; /* Adjusted font size */
    padding: 8px; /* Adjusted padding */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h2 {
    font-size: 14px;
    margin-top: 0;
}

.card:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

#h21, #h22, #h23, #h25, #h26, #h29, #h211, #h214 {
    color: black;
}
